<a href="https://colab.research.google.com/github/Blecyrajan/Time-Series-Prediction-/blob/main/Stock_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd #alias

In [4]:
path = "/content/Uniqlo(FastRetailing) 2012-2016 Training - stocks2012-2016.csv"
df = pd.read_csv(path)

In [5]:
df.head(3)

         Date   Open   High    Low  Close  Volume  Stock Trading
0  30-12-2016  42120  42330  41700  41830  610000   2.562803e+10
1  29-12-2016  43000  43220  42540  42660  448400   1.918823e+10
2  28-12-2016  43940  43970  43270  43270  339900   1.478067e+10

In [6]:
df.tail(3)

            Date   Open   High    Low  Close  Volume  Stock Trading
1223  06-01-2012  13990  14030  13790  13850  765500   1.063561e+10
1224  05-01-2012  13720  13840  13600  13800  511500   7.030811e+09
1225  04-01-2012  14050  14050  13700  13720  559100   7.719804e+09

In [7]:
df =df['High']
df.head(3)

0    42330
1    43220
2    43970
Name: High, dtype: int64

In [11]:
import matplotlib.pyplot as plt
def plot_series(data):
  for df in data:
    pl.plot(df)
  plt.show()

In [26]:
train = df[:int(0.8*len(df))]
test = df[int(0.8*len(df)):]

In [37]:

def arrange(data, window=10):
  x = []
  y = []
for i, val in enumerate(data):
  if i<window:
    continue
  x.append((data[i-window:i-1]).reshape(-1,1))
  y.append(data[i].reshape(-1,1))
  x = np.asarray(x)
  y = np.asarray(y)
return x,y

NameError: ignored

In [30]:
X_train, y_train = arrange(train, 15)
print("x-shape is: {} and y-shape is: {}".format(X_train.shape, y_train.shape))

TypeError: ignored